/target/
!.mvn/wrapper/maven-wrapper.jar

/*/target/

design/
db/
workspace.xml

.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### SUB STS ###
*/.apt_generated
*/.classpath
*/.factorypath
*/.project
*/.settings
*/.springBeans
*/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### SUB IntelliJ IDEA ###
.idea
*/*.iws
*/*.iml
*/*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Sub NetBeans ###
*/nbproject/private/
*/build/
*/nbbuild/
*/dist/
*/nbdist/
*/.nb-gradle/